#root {
  height: 100%;
}
.App {
  text-align: center;
  min-height: 100%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

section {
  padding: 100px 0;
  position: relative;
}
section.skew {
  padding: 200px 0 100px 0;
}
section.skewbottom {
  padding: 100px 0 0 0;
}
section.nopad {
  padding: 0;
}
.col.pad {
  padding-top: 80px;
  padding-bottom: 80px;
}
section h1 {
  margin: 0 0 30px 0;
  text-align: left;
}
section.skew svg {
  position: absolute;
  top: 0;
  left: 0;
}
section.skewbottom svg {
  position: absolute;
  bottom: 0;
  left: 0;
}
svg path {
  stroke: none;
  stroke-width: 0;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-dasharray: 1px, 15px;
  fill: white;
}

.services {
  margin-bottom: 0;
}
.services .content {
  position: relative;
  top: 0px;
  z-index: 1;
  padding: 80px 20px 40px 20px;
}
.services .content p {
  padding: 10px 20px;
  text-align: center;
}
.services .col {
  position: relative;
  height: 450px;
  overflow: hidden;
}
.services .background-image {
  position: absolute;
  top: -10%;
  left: -10%;
  width: 150%;
  background-size: cover;
  background-position: center;
  z-index: 1;
  opacity: 0.6;
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
}
.clients .client {
  display: inline-block;
  padding: 25px 0;
  line-height: 80px;
}

#what {
  text-align: left;
}
#what h1 {
  margin-bottom: 80px;
}
#what .project {
  padding: 30px 50px;
}
#what .project strong {
  color: #52656b;
  font-weight: 700;
}
#what .project li {
  color: #f42a7c;
  font-weight: 700;
  margin: 10px 0;
  position: relative;
  padding-left: 20px;
}
#what .project li::before {
  font-family: 'Material Icons';
  font-weight: 700;
  font-size: 20px;
  content: '\e5cc';
  display: block;
  position: absolute;
  top: -3px;
  left: -5px;
}

#how {
  background-color: #f7f7f7;
}
#how,
#how h1,
#how p {
  text-align: center;
}
#how p {
  font-size: 20px;
}
#how li {
  color: #f42a7c;
  font-weight: 600;
  line-height: 32px;
}

#tech {
  padding: 20px 0;
}
#tech .row {
  margin: 0;
}
#tech li {
  float: left;
  margin-right: 32px;
  line-height: 110px;
}
#tech li:last-child {
  margin-right: 0;
}

#tech h3 {
  font-size: 26px;
  font-weight: 700;
  text-align: left;
}

#characters {
  position: relative;
  z-index: 2;
}

#contact .row {
  margin-bottom: 0;
}

#contact .contact-container {
  background-image: url(/images/home/contact-bg.jpg);
  background-position: top left;
  height: 700px;
}

#contact .pad p strong {
  font-weight: 600;
  color: white;
  display: block;
}
#contact .pad p {
  padding: 5px 40px;
}
#contact footer {
  position: absolute;
  bottom: 20px;
  width: 100%;
}
#contact footer .copyright {
  position: absolute;
  left: 50%;
  bottom: 0;
  display: block;
  width: auto;
  transform: translateX(-50%);
}
@media only screen and (max-width: 993px) {
  #contact h1 {
    padding: 0 40px;
  }
}
@media only screen and (min-width: 993px) {
  #contact h1 {
    margin-bottom: 50px;
    position: relative;
    left: -60px;
  }
}
