/*
Dark: #232b2d;
Accent: #f42a7c;
Mild: #949ea0;
*/

html,
body {
  color: #52656b;
  font-weight: 300;
  font-size: 16px;
  width: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Muli', sans-serif;
}
section p:first-child {
  margin-top: 0;
}

h1,
h2,
h3 {
  color: black;
  font-family: futura-pt, sans-serif;
  font-style: normal;
}
h1 {
  font-family: futura-pt, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
}
h2 {
  font-family: futura-pt, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 46px;
}
h2.light {
  font-weight: 700;
}
h4 {
  color: #f42a7c;
  font-size: 24px;
  font-weight: 300;
}
h5 {
  font-size: 16px;
  font-weight: 600;
  font-style: italic;
}

p {
  text-align: left;
  line-height: 1.75em;
  font-size: 16px;
}

a {
  text-decoration: underline;
}

a,
button {
  color: #20a9e8;
}

/* Buttons */

.btn {
  background: #20a9e8;
  border-radius: 0;
  color: black;
  text-transform: none;
}
.btn:hover,
.btn:focus {
  background: #60b7de;
}

strong {
  color: #f42a7c;
  font-weight: 700;
}

.inverted {
  background: #232b2d;
  color: white;
}
.inverted h1,
.inverted h2,
.inverted h3 {
  color: white;
}

.container.maxwidth {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
  max-width: none;
  overflow-x: hidden;
}

.light {
  color: #d7dfe2;
}

@media only screen and (min-width: 993px) {
  .container {
    width: 84%;
  }
}
@media only screen and (max-width: 500px) {
  h1 {
    font-size: 45px;
  }
}
